/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'primeng/resources/themes/aura-dark-amber/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';

:root {
  --font-family: 'Kanit', sans-serif;
  --primary-color: #f2db0d;
  --primary-color-text: #231f20;
}

body {
  margin: 0;
  height: 100vh;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.p-button.p-button-text {
  font-weight: 400;
  color: var(--primary-color) !important;
}

.p-button-label {
  font-weight: 400;
}

.p-fieldset .p-fieldset-legend {
  font-weight: 400 !important;
}

.p-fieldset.p-component {
  font-weight: 300 !important;
  color: #cccccc;
}

.p-datatable .p-datatable-footer {
  font-weight: 400 !important;
}

.p-datatable-thead {
  font-weight: 400 !important;
}
